<h1>Here is your random groups:</h1>
<br>
	<%if random_grouping.class == String%>
		<h2><%=random_grouping%></h2>
	<%elsif random_grouping.count == 1 && random_grouping[0].class == String%>
		<h2>You only entered one name: <%=random_grouping[0]%></h2>
	<%else%>
		<%counter = 1%>
		<%random_grouping.each do |groups|%>
			<%if groups.count == 2%>
				<h2>Group <%=counter%>: <%=groups[0]%>, <%=groups[1]%></h2>
			<%else%>
				<h2>Group <%=counter%>: <%=groups[0]%>, <%=groups[1]%>, <%=groups[2]%></h2>
			<%end%>		
			<%counter += 1%>
		<%end%>
	<%end%>
<br>
<h1>Would you like to make a new group?</h1>
<input type="radio" name="choice-same-group" id="choice-for-new">
<label for="choice-for-new">Make new group</label>
<div class="reveal-if-active">
<h1>Make new groups</h1>
<div class="btns">
<button onclick="addBoxes()">Add</button>
<button onclick="removeBoxes()">Remove</button>
<br><br>
</div>
<form method="post" action="names">
<div id="text_boxes">
</div>
<br>
<input id="randomize" type="submit" value="Randomize and Group">
</form>
<script>
function addBoxes() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "text");
    x.setAttribute("name", "name[]");
    x.setAttribute("placeholder", "Name");
    var textBoxes = document.getElementById("text_boxes");
    textBoxes.appendChild(x);
    textBoxes.innerHTML = textBoxes.innerHTML + "  ";
}

function removeBoxes(){
    var removeBox = document.getElementById("text_boxes");
    removeBox.removeChild(removeBox.lastChild);
}
</script>